# ----- Fill the required information and move it to ./private/rcs.conf -----

# Membership Service configuration
# Required
ms_url=http://localhost
ms_port=8080

# Provider Member Local
# Required
provider_id=local-xmpp-provider-id

# Catalog Members File
# Required
members_file_path=

# Cache Validity in minutes
# Optional
cache_validity=